@import "../../../styles/vars";

.itemEvent {
  width: 280px;
  height: 456px;
  position: relative;

  & ul {
    & .containerPhoto {
      height: 400px;
      background-color: $mainColor;

      & img {
        object-fit: cover;
      }
    }

    & .containerInfo {
      max-width: 280px;
      font-size: 14px;

      & h3 {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;

        @media screen and (min-width: 1024px) {
          font-size: 14px;
        }
      }

      & p {
        margin-top: 4px;
        color: $accentColor;
        font-weight: 500;
        font-size: 12px;

        @media screen and (min-width: 1024px) {
          font-size: 14px;
        }
      }
    }
  }
}

.itemEventCursor {
  cursor: pointer;
}

.itemIconsEvent {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  margin-top: -5px;

  & a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: $mainColor;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      fill: $mainColorDark;
      width: 20px;
      height: 20px;
    }
  }
}
