@import "../../../styles/vars";

.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow-y: hidden;
}

.modalTemplate {
  max-height: calc(100vh - 40px);
  max-width: 280px;
  margin: 20px;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 3;
  position: relative;
  border-radius: 5px;
  animation: onOpenModal 500ms $animationFunction;

  @media screen and (min-width: 1024px) {
    max-height: 500px;
    max-width: 700px;
    margin: 60px;
    overflow-y: hidden;
  }
}

.modalClose {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 500ms $animationFunction;

  &:hover {
    background-color: $accentColor;

    & svg {
      fill: white;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    transition: 500ms $animationFunction;
  }
}

@keyframes onOpenModal {
  from {
    transform: scale(10%);
  }
  to {
    transform: scale(100%);
  }
}
